<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfrog.platform.infrastructure.base.mapper.LangCorpusMapper">
    <select id="queryAll" resultType="com.xfrog.platform.application.base.dto.LangCorpusDTO">
        SELECT
          *
        FROM
        lang_corpus lc
        <where>
            lc.deleted = false
            <if test="queryDTO.application != null and queryDTO.application != ''">
                AND lc.application = #{queryDTO.application}
            </if>
        </where>
    </select>
</mapper>